.vercel

# Next.js
dist/
.next/
out/

# TypeScript build info
tsconfig.tsbuildinfo

# Next.js env declarations
next-env.d.ts

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel
.vercel/
