@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #111827;
  --background: #F8F9FA;
}

.dark {
  --foreground: #F8F9FA;
  --background: #111827;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
  .h3 {
    @apply text-2xl font-semibold;
  }
  .h4 {
    @apply text-xl font-semibold;
  }
}
